################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/demoex/FileContentIndex/0b96306a-f51d-429b-a1b4-4270407617e8.vsidx
