################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/demoex/FileContentIndex/0b96306a-f51d-429b-a1b4-4270407617e8.vsidx
/.vs/demoex/FileContentIndex/23e92b3c-b1ce-4c2a-bd45-8e50d1bf0181.vsidx
