################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


/.vs/demoex/FileContentIndex/23e92b3c-b1ce-4c2a-bd45-8e50d1bf0181.vsidx

